@media screen and (max-width: 1280px) {
	
	#background {
    font-size:100%;	
	}
	
    .index {
    background:url(../images/1280/paddleboard1280.jpg) no-repeat center;
    max-width:1280px; 
    height:window.innerheight;
    }
    
    .design {
    background:url(../images/1280/paddleboard1280.jpg) no-repeat center;
    max-width:1280px; 
    height:window.innerheight;
    }
    
    .develop {
    background:black;
    max-width:1280px; 
    height:window.innerheight;
    }
    
    a.overlay {
    padding-top:20px;
    }

}