body {
  	font-size:100%;
  	font-family:'Comic Sans MS',cursive,sans-serif;
  	text-align:center;
  	behavior:url(../csshover.htc);
}

#background {
	width:100%;
    min-height:100%;
    position:fixed;
    bottom:0;
    left:0;
}

.develop {
	background: RGB(50,50,50);
}

.typewriter {
	font-family:"Lucida Console", Monaco, monospace;
	color:RGBA(57,255,20,0.5);
	font-size:50%;
	text-align:left;
}

#container-left {
	width:20%;
	height:10%;
	background-color:RGBA(255,255,255,0.5);
	box-shadow: -10px 10px 10px 0px RGBA(0,0,0,0.85);
	position:absolute;
	top:10px;
	left:0px;
	text-align:center;
}

#container-nav {
	width:auto;
	height:10%;
	background-color:RGBA(255,255,255,0.5);
	box-shadow: 0 25px 25px -10px RGBA(0,0,0,0.85);
	position:absolute;
	top:10px;
	left:25%;
	right:25%;
	text-align:center;
}

#container-right {
	width:20%;
	height:10%;
	background-color:RGBA(255,255,255,0.5);
	box-shadow: 10px 10px 10px 0px RGBA(0,0,0,0.85);
	position:absolute;
	top:10px;
	right:0px;
	text-align:center;
}

#container-body {
	width:auto;
	height:80%;
	background-color:RGBA(255,255,255,0.5);
	position:absolute;
	float:top align;
	left:25%;
	right:25%;
	text-align:center;
	padding-top:75px;	
}

/************* button ***************/

a.overlay { 
	width:100%; 
	height:100%; 
	position:absolute; 
	top:0px;
	left:0px;

}
